<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .page {
            font-family: Arial;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="header">
            <h1>Welcome to User Profile</h1>
        </div>
        <div class="profile-panel">
            <h2>User Profile Details...</h2>
        </div>
    </div>
</body>
</html>